* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.landPage {
    background-image: url('images/coffee.webp');
    background-repeat: no-repeat;
}

.topDressPage {
    background-image: url('images/topdress.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    width: fit-content;
    font-size: 10em;
    margin:  0 auto;
    text-decoration: underline;
    color: rgb(18, 19, 20);
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.5);
    line-height: 80px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

header nav section {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header nav section img {
    width: 90px;
    object-fit: cover;
}


header nav ul {
    float: right;
    margin-right: 20px;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}
header nav ul li a {
    color: white;
    text-decoration:none;
    font-size: 1.2em;
}


/* TROUSERS PAGE DOCUMENTS */
.trousers_info {
    width: 400px;
    border: 1px solid black;
    /* padding: 80px 20px 30px 40px; */  /*80px represents Top, 20px represent Right, 30px represent Bottom, while 40px represents Left*/

    /* padding: 10px; */ /*10px here represents the four sides*/

    padding: 10px 50px;/* 10px represents top and bottom while 50px left and right*/
}

.articleContainer {
    display: flex;
    margin-block-end: 20px;
}
.trousers_info {
    width: 300px;
    border: 1px solid rgb(241, 238, 238);
    color: white;
    padding: 10px;
    margin:0 auto;
    border-radius: 8px;
    background-color: rgba(49, 50, 51, 0.5);
}
